#form-pierwszy {
    background-color: #213b50; 
    color: #fff;
    width: 600px;
    padding: 20px;
}

form label {
    display: block;
}

input[type="text"], input[type="email"], select, textarea {
    background-color: #2b4a64;
    width: 300px;
    color: white;
    border:  1px solid #2b4a64;
    height: 25px;
    outline: none;
}

input:focus {
    background-color: #4e708c;
}

form input, form select {
    margin-bottom: 10px;
}

input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    border: 1px solid #fff;
    background-color: #4e708c;
}

form input[type="submit"] {
    background-color: green;
    border: 1px solid green;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

