/* GENERAL STYLES - start */

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    color: #291f1a;
    font-weight: 300;
}

span {
    color: #1ac056;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

section {
    padding: 0 80px 100px;
}

section h2 {
    margin: 50px 0 30px;
    font-weight: 300;
}

/* GENERAL STYLES - end */

/* NAVIGATION - start */

#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

#main-nav ul {
    float: right;
}

#main-nav ul .menu-item {
    display: inline-block;
    padding: 20px 40px;
}

#main-nav ul .menu-item a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

#main-nav ul .menu-item a:hover {
    color: #291f1a;
}

/* NAVIGATION - end */

/* HEADER - start */

#main-header {
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#main-header .header-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#main-header .header-content h1 {
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    color: #fff;
    font-weight: 300;
}

#main-header .header-content p {
    font-size: 2em;
    font-weight: 200;
    color: #fff;
}

/* HEADER - end */

/* ABOUT - start */

#about {
    background-color: #f9fcfe;
    box-shadow: 3px 6px 37px -1px rgba(0,0,0,0.75);
    overflow: hidden;
}

#about > figure {
    width: 50%;
    float: left;
    text-align: center;
}

#about > figure img {
    max-height: 350px;
}

#about article p {
    line-height: 25px;
}

/* ABOUT - end */


#skills > p {
    text-align: center;
}

#skills .skills-icons {
    text-align: center;
}

#skills .skills-icons figure {
    display: inline-block;
}


/*Portfolio start*/


.portfolio-1 {
    background-image: url("../img/portfolio1.jpg");
    background-repeat: no-repeat;
    width: 33%;
    float: left;
    background-position: center;
    background-size: cover;
}

.portfolio-2 {
    background-image: url("../img/portfolio2.jpg");
    background-repeat: no-repeat;
    width: 33%;
    float: left;
    background-position: center;
    background-size: cover;
}

.portfolio-3 {
    background-image: url("../img/portfolio3.jpg");
    background-repeat: no-repeat;
    width: 33%;
    float: left;
    background-position: center;
    background-size: cover;
}

.mask:hover {
    background-color: #000;
    border: 2px #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s;
    font-size: 12px;
}

p .project-description {
    color: #fff;
}



#portfolio-item1 {
    background-image: url("../img/portfolio1.jpg");
}

#portfolio-item2 {
    background-image: url("../img/portfolio2.jpg");
}

#portfolio-item3 {
    background-image: url("../img/portfolio3.jpg");
}

#portfolio .portfolio-items {
    font-size: 0;
    text-align: center;
    padding: 15px;
}

#portfolio .portfolio-item {
    height: 350px;
    width: 33.333333%;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#portfolio .item-mask {
    background-color: green;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s;
    font-size: 16px;
    opacity: 0;
    color: #fff;
}

#portfolio .item-mask:hover {
    opacity: 1;
}

#portfolio .item-content {
    margin: 10px;
    height: 330px;
    border: 1px solid #fff;
    position: relative;
}

#portfolio .item-content-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    left: 0;
    right: 0;
}

#portfolio .item-content-inner a {
    color: #fff;
}

#portfolio .item-content-inner a:hover {
    color: red;
}

/*Portfolio end*/

/*Contact start*/

#contact {
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
}

#contact .contact-data {
    width: 50%;
    float: left;
}

#contact .contact-data h2 {
    text-align: left;
    font-size: 2rem;
}

#contact .contact-data adress {
    margin: 70px 0;
    line-height: 20px;
}

#contact .contact-data adress a {
    color: #1ac056;
}

/*Contact end*/




